* {
  cursor: url('../cursor/arrow.cur'), auto;
}

*:mouseDown:hover {
  cursor: url('../cursor/arrow.cur'), auto;
}

html {
  height: 100%;
  text-transform: lowercase;
  cursor: url('../cursor/arrow.cur'), auto;
  overflow: hidden;
}

mousedown.grabbing {
  cursor: grabbing;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ececec;
  margin: 0;
  padding: 0;
  height: 100%;
  user-select: none;
  cursor: url('../cursor/arrow.cur'), auto;
  background: #374242;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
  zoom: 100%;
  transition: zoom 0.3s;
  /* mix-blend-mode:exclusion; */
  mix-blend-mode:hue;
  filter: brightness(0.8) contrast(0.666);
  cursor: none;
}

.text {

  z-index: 9999;
  /* transform: scale(1.2, 3); */
  font-size: x-large;
  pointer-events: auto;

}

.plain_link {
    text-decoration: none;
    filter: none;
}

a {
  color: #00ff00;
  mix-blend-mode:exclusion;
  /* text-decoration: none; */
}

a:visited {
  color: #00ff00;
  text-decoration: none;
}

a:hover {
  color: #c0c0c0;
  /* text-decoration: none; */
  cursor: url('../cursor/point.cur'), auto;
}

a:active {
  text-decoration: none;
  scale: 0.95;
}

button {
  cursor: url('../cursor/point.cur'), auto;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: left;
  gap: 2vh;
  margin-top: 1vh;
  padding: 1vw;
  overflow: hidden;
}

.pointer {
  padding: 1em;
  z-index: 999;
}


.vis-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: contrast(0.45) brightness(1.5) drop-shadow(16px 16px 20px blue);
  image-rendering: pixelated;
}


#modelContainer1{

  /* filter: grayscale(); */
  cursor: url('../cursor/point.cur'), auto;

}


#visible, #refresh, #colorwheel{
  mix-blend-mode:darken;
  z-index: 5;
  display: flex;
  object-fit: contain;
  width: 2.5vw;
  height: auto;
  left: 100vw;
  margin-right: 1.5em;
  padding: 0em 0.25em 0em 0.25em;
  filter: drop-shadow(0 0 0.25rem white) invert(0);
}

#colorwheel{
  filter: drop-shadow(0 0 0.25rem white) invert(1);

}


#visible:hover, #refresh:hover, #colorwheel:hover{
  mix-blend-mode:difference;
  /* background-color: #ffffff; */
  background-size: cover;
  filter: drop-shadow(0 0 0.75rem black) invert(1);
  cursor: url('../cursor/point.cur'), auto;
}

#colorwheel:hover{

  filter: drop-shadow(0 0 0.75rem black) invert(1);

}


#visible:active, #refresh:active, #colorwheel:active{
  scale: 0.95;
}

.figure .interactive {
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
  object-fit: scale-down;
  display: block;
}


/* Media query for mobile devices */
@media (max-width: 768px) {
  body {
    padding: 0.5em;
    zoom: 100%;
    font-size: large;
    overflow-y: hidden;
  }

  .section {
    flex-direction: column;
    align-items: flex-start;
    gap: 1vh;
    margin-top: 0.5em;
    padding: 0.5em;
  }

  .pointer {
    width: 100%;
    padding: 1.5em;
    text-align: center;
  }

  #name {
    margin-top: -5em;
    padding: 1.5em;
    z-index: 666;
  }

  .vis-container {
    width: 100vw;
    height: 100vh;
    /* filter: contrast(0.7); */
    /* mix-blend-mode:exclusion; */
  }

  /* .copy-message {
    font-size: small;
    } */

  #links {
    margin-top: 1em;
    padding: 0.5em;
    /* margin: -5em; */
  }

  #icons {
    margin-top: 1.5em;
    width: 10vw;
    top: 1vh;
    flex-direction: column;
    gap: 0;
  }

  #icons img {
    width: 7vw;
    height: auto;
    padding: 0.5em;
    margin: -0.5em;
    }


  #about {
    margin: 5vh;
    padding: 0.25em;
    object-fit: scale-down;
    font-size: small;
  }

  #me {
    visibility: hidden;
  }

  .section#links {
    align-items: flex-start;
    margin-top: 2vh; /* Adjust as needed to align with the name div */
  }


  /* .cursor-trail {
    filter: invert();
  } */

  #contourContainer1{
    top: -15vh;
    margin-top: 15vh;
    /* transform: rotate(10deg) translateY(-15vh); */
    /* zoom: 0.85; */
    /* width: 125%; */
    /* mix-blend-mode:darken; */
  }


  
}

*{
  cursor: none;
}